# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
# weird order necessary to get just a sub sub folder
data/*
!data/processed/
data/processed/*
!data/processed/mb_2019-09-23/
!data/process_scripts/
!data/logs

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

notebooks/outs/86.1-BDP-prob-path-cluster/csvs/prob-path-mat-c8-t1-Gad.csv

src/pymaid/*

notebooks/outs/129.0-BDP-multigraph-embed
notebooks/outs/128.1-BDP-path-cluster-again
notebooks/outs/128.0-BDP-path-cluster-again
notebooks/outs/127.2-BDP-more-silly-model
notebooks/outs/127.1-BDP-more-silly-model
notebooks/outs/127.0-BDP-more-silly-model
notebooks/outs/124.0-BDP-spectral-cascades
notebooks/outs/122.2-BDP-silly-model-testing
notebooks/outs/137.0-BDP-omni-clust
notebooks/outs/144.0-BDP-revamp-gm-sf/csvs
notebooks/outs/156.0-BDP-plot-all-neurons
notebooks/outs/158.0-BDP-plot_morpho
notebooks/outs/158.1-BDP-plot_morpho
notebooks/outs/154.3-BDP-morpho-diff
notebooks/outs/154.3-BDP-morpho-diff
notebooks/outs/158.2-BDP-plot_morpho


*adj*.csv