# local package
# -e .

# external requirements
# graspy>=0.1.1
# networkx>=2.3
# scikit-learn>=0.22
# scipy>=1.4
# colorcet
# tqdm

scipy>=1.4
scikit-learn>=0.22
networkx>=2.3
pandas>=1.0
seaborn>=0.10
numba
tqdm
colorcet
anytree